 .btn{
	transition: .4s ease;
}
 .btn:hover{
	letter-spacing: 2px;
}
.social-links a{
	color: #091921;
}
.portfolio-item img{
	filter: grayscale(100%);
	transition: filter 0.3s ease;
	cursor: pointer;
}
.portfolio-item img:hover{
	filter: grayscale(0%);
}